{% extends "base.html" %}
{% block content %}
    <script>
    document.addEventListener("DOMContentLoaded", function() {
        // Find the selected element based on the current_week variable from your backend
        const currentWeek = {{ current_week }};
        const selectedCard = document.getElementById(`card-week-${currentWeek}`);
        const container = document.getElementById('scroll-container');

        if (selectedCard && container) {
            // Scroll the container so the selected week is in view
            // 'center' ensures it's not tucked away at the very edge
            selectedCard.scrollIntoView({
                behavior: 'auto',
                inline: 'center',
                block: 'nearest'
            });
        }
    });
    </script>
    <div class="bg-white py-8 antialiased md:py-16">
        <div class="mx-auto max-w-screen-xl px-4 2xl:px-0">
            <ol class="items-center flex w-full max-w-2xl text-center text-sm font-medium text-gray-500 sm:text-base">
                <li class="after:border-1 flex items-center text-primary-700 after:mx-6 after:hidden after:h-1 after:w-full after:border-b after:border-gray-200 sm:after:inline-block sm:after:content-[''] md:w-full xl:after:mx-10">
                    <span class="flex items-center after:mx-2 after:text-gray-200 after:content-['/'] sm:after:hidden">
                        <svg class="me-2 h-4 w-4 sm:h-5 sm:w-5"
                             aria-hidden="true"
                             xmlns="http://www.w3.org/2000/svg"
                             width="24"
                             height="24"
                             fill="none"
                             viewBox="0 0 24 24">
                            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M8.5 11.5 11 14l4-4m6 2a9 9 0 1 1-18 0 9 9 0 0 1 18 0Z" />
                        </svg>
                        Boeken
                    </span>
                </li>
                <li class="after:border-1 flex items-center text-primary-700 after:mx-6 after:hidden after:h-1 after:w-full after:border-b after:border-gray-200 sm:after:inline-block sm:after:content-[''] md:w-full xl:after:mx-10">
                    <span class="flex items-center after:mx-2 after:text-gray-200 after:content-['/'] sm:after:hidden">
                        <svg class="me-2 h-4 w-4 sm:h-5 sm:w-5"
                             aria-hidden="true"
                             xmlns="http://www.w3.org/2000/svg"
                             width="24"
                             height="24"
                             fill="none"
                             viewBox="0 0 24 24">
                            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M8.5 11.5 11 14l4-4m6 2a9 9 0 1 1-18 0 9 9 0 0 1 18 0Z" />
                        </svg>
                        Veilig afrekenen
                    </span>
                </li>
                <li class="flex shrink-0 items-center">
                    <svg class="me-2 h-4 w-4 sm:h-5 sm:w-5"
                         aria-hidden="true"
                         xmlns="http://www.w3.org/2000/svg"
                         width="24"
                         height="24"
                         fill="none"
                         viewBox="0 0 24 24">
                        <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M8.5 11.5 11 14l4-4m6 2a9 9 0 1 1-18 0 9 9 0 0 1 18 0Z" />
                    </svg>
                    Boekings overzicht
                </li>
            </ol>
            <div class="mt-6 sm:mt-8 lg:flex lg:items-start lg:gap-12 xl:gap-16">
                <div class="min-w-0 flex-1 space-y-8">
                    <div class="space-y-4">
                        <h2 class="text-xl font-semibold text-gray-900">Account gegevens</h2>
                        <div class="grid grid-cols-1 gap-4 sm:grid-cols-2">
                            {% if current_user.is_authenticated %}
                                <div>
                                    <p class="mb-2 block text-sm font-medium text-gray-900">Account naam</p>
                                    <p class="block w-full rounded-lg border border-gray-300 bg-gray-50 p-2.5 text-sm text-gray-900 focus:border-primary-500 focus:ring-primary-500">
                                        {{ current_user.username }}
                                    </p>
                                </div>
                                <div>
                                    <p class="mb-2 block text-sm font-medium text-gray-900">Email-adres</p>
                                    <p class="block w-full rounded-lg border border-gray-300 bg-gray-50 p-2.5 text-sm text-gray-900 focus:border-primary-500 focus:ring-primary-500">
                                        {{ current_user.email }}
                                    </p>
                                </div>
                            </div>
                        {% else %}
                            <form method="POST" class="space-y-4 md:space-y-6">
                                {{ form.hidden_tag() }}
                                <div>
                                    {{ form.email.label(class="mb-2 block text-sm font-medium text-gray-900") }}
                                    {{ form.email(class="block w-full rounded-lg border border-gray-300 bg-gray-50 p-2.5 text-sm text-gray-900 focus:border-blue-500 focus:ring-blue-500", placeholder="Gebruiker@gmail.com") }}
                                </div>
                                <div>
                                    {{ form.username.label(class="mb-2 block text-sm font-medium text-gray-900") }}
                                    {{ form.username(class="block w-full rounded-lg border border-gray-300 bg-gray-50 p-2.5 text-sm text-gray-900 focus:border-blue-500 focus:ring-blue-500",
                                                                        placeholder="Gebruiker2243") }}
                                </div>
                                <div>
                                    {{ form.password.label(class="mb-2 block text-sm font-medium text-gray-900") }}
                                    {{ form.password(class="block w-full rounded-lg border border-gray-300 bg-gray-50 p-2.5 text-sm text-gray-900 focus:border-blue-500 focus:ring-blue-500",
                                                                        placeholder="••••••••") }}
                                </div>
                                <div>
                                    {{ form.pass_confirm.label(class="mb-2 block text-sm font-medium text-gray-900") }}
                                    {{ form.pass_confirm(class="block w-full rounded-lg border border-gray-300 bg-gray-50 p-2.5 text-sm text-gray-900 focus:border-blue-500 focus:ring-blue-500",
                                                                        placeholder="••••••••") }}
                                </div>
                                {{ form.submit(class="w-full text-white bg-blue-600 hover:bg-blue-700 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center cursor-pointer") }}
                                <a class="w-full text-white bg-orange-400 hover:bg-orange-700 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center cursor-pointer"
                                   href="/login">Inloggen</a>
                            </form>
                        {% endif %}
                    </div>
                    <div class="space-y-4">
                        <h3 class="text-xl font-semibold text-gray-900">Gekozen Accomodatie</h3>
                        <div class="grid grid-cols-1 gap-4 md:grid-cols-1">
                            <div class="rounded-lg flex border border-gray-200 justify-center  bg-gray-50 p-4 ps-4">
                                <div class="flex flex-col items-center justify-around">
                                    <div class="ms-4 text-sm">
                                        <label for="" class="font-medium leading-none text-gray-900">Huis id = {{ huis.id }}</label>
                                        <p class="mt-1 text-xs font-normal text-gray-500">{{ huis.beschrijving }}</p>
                                    </div>
                                    <div class="mt-4 flex items-center gap-2">
                                        <button type="button"
                                                class="text-sm font-medium text-gray-500 hover:text-gray-900">
                                            Weekprijs = € {{ huis.weekprijs }}
                                        </button>
                                    </div>
                                </div>
                                <div class="mt-4 flex items-center justify-center gap-2">
                                    <img src="{{ huis.afbeelding }}" class="rounded-lg w-1/2 ">
                                </div>
                            </div>
                        </div>
                    </div>
                    <form method="POST">
                        {{ boeking_Form.hidden_tag() }}
                        <div class="space-y-4">
                            <h3 class="text-xl font-semibold text-gray-900">Kies een week</h3>
                            <div id="scroll-container"
                                 class="flex overflow-x-auto gap-4 pb-4 snap-x scroll-smooth">
                                {% for x in range(1, 53) %}
                                    <div id="card-week-{{ x }}"
                                         class="w-64 shrink-0 snap-center rounded-lg border border-gray-200 bg-gray-50 p-4 ps-4 transition-colors has-[:checked]:border-primary-600 has-[:checked]:bg-primary-50">
                                        <div class="flex items-start">
                                            <div class="flex h-5 items-center">{{ boeking_Form.weeknummer() }}</div>
                                            <div class="ms-4 text-sm">
                                                <label for="week-{{ x }}"
                                                       class="font-medium leading-none text-gray-900 cursor-pointer">
                                                    Week {{ x }}
                                                    {% if x < current_week %}
                                                        {{ current_year + 1 }}
                                                    {% elif x == current_week %}
                                                        <p class="text-xs font-bold">Deze week</p>
                                                    {% else %}
                                                        {{ current_year }}
                                                    {% endif %}
                                                </label>
                                                <p class="mt-1 text-xs font-normal text-gray-500">
                                                    {% if x  in volgeboekt_op %}
                                                        <span class="text-red-600">Vol geboekt</span>
                                                    {% elif x != current_week %}
                                                        <span class="text-green-500">Beschikbaar</span>
                                                    {% endif %}
                                                    <p>
                                                    </div>
                                                </div>
                                            </div>
                                        {% endfor %}
                                    </div>
                                </div>
                            </div>
                            <div class="mt-6 w-full space-y-6 sm:mt-8 lg:mt-0 lg:max-w-xs xl:max-w-md">
                                <div class="flow-root">
                                    <div class="-my-3 divide-y divide-gray-200">
                                        <dl class="flex items-center justify-between gap-4 py-3">
                                            <dt class="text-base font-normal text-gray-500">Sub Totaal</dt>
                                            <dd class="text-base font-medium text-gray-900">
                                                € {{ "%.2f" | format(huis.weekprijs /121 *100) }}
                                            </dd>
                                        </dl>
                                        <dl class="flex items-center justify-between gap-4 py-3">
                                            <dt class="text-base font-normal text-gray-500">BTW(21%)</dt>
                                            <dd class="text-base font-medium text-gray-900">
                                                € {{ "%.2f" | format(huis.weekprijs/121*21) }}
                                            </dd>
                                        </dl>
                                        <dl class="flex items-center justify-between gap-4 py-3">
                                            <dt class="text-base font-bold text-gray-900">Totaal</dt>
                                            <dd class="text-base font-bold text-gray-900">
                                                € {{ huis.weekprijs }}
                                            </dd>
                                        </dl>
                                    </div>
                                </div>
                                <div class="space-y-3">
                                    {% if current_user.is_authenticated %}
                                        <button type="submit"
                                                class="flex w-full items-center justify-center rounded-lg font-bold bg-blue-500 px-5 py-2.5 text-sm  text-white hover:bg-primary-800 focus:outline-none focus:ring-4  focus:ring-primary-300">
                                            Boek Nu
                                        </button>
                                    {% else %}
                                        <p class="text-sm font-normal text-gray-500">
                                            Om te Boeken moet u eerst registreren of inloggen <a href="#"
    title=""
    class="font-medium text-primary-700 underline hover:no-underline">Log nu in</a>.
                                        </p>
                                    {% endif %}
                                </div>
                            </div>
                        </form>
                    </div>
                {% endblock %}
