{% extends "base.html" %}
{% block content %}
    <div class="flex h-screen overflow-hidden">
        <main class="flex-1 flex flex-col overflow-hidden">
            <div class="flex-1 overflow-y-auto p-6">
                <h2 class="pb-5">Welkom {{ current_user.username }},</h2>
                <div class="">
                    <div class="px-6 py-4  flex justify-between items-center">
                        <h2 class="text-lg font-medium text-gray-900">Accommodaties ({{ huizen|length }})</h2>
                        <div class="flex gap-5">
                            <form method="POST"
                                <p class="text-sm! font-medium text-indigo-600 hover:text-indigo-500">Weeknummer</p>
                                {{ form.hidden_tag() }}
                                {{ form.weeknummer.label }}
                                {{ form.weeknummer() }}
                                {{ form.submit() }}
                            </form>
                        </div>
                    </div>
                    <div class="p-6">
                        <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-6">
                            {% for huis in huizen %}
                                <div class="group border border-gray-200 rounded-xl overflow-hidden hover:shadow-md transition-shadow">
                                    <div class="aspect-video bg-gray-100 flex items-center justify-center relative">
                                        <img class="max-h-[400px] object-cover  w-full"
                                             src="{{ huis.afbeelding }}">
                                        <div class="absolute top-3 right-3 bg-white/90 px-2 py-1 rounded text-xs font-bold shadow-sm">
                                            €{{ huis.weekprijs }} /week
                                        </div>
                                    </div>
                                    <div class="p-4">
                                        <div class="flex justify-between items-start mb-2">
                                            <h3 class="font-bold text-gray-900">{{ huis.beschrijving }}</h3>
                                            <span class="inline-flex items-center px-2 py-0.5 rounded text-xs font-medium bg-green-100 text-green-800">
                                                {% set volgeboekt = huis.boeking_id | map(attribute='weeknummer') | list %}
                                                {% if weeknummer != 0 and weeknummer in volgeboekt %}
                                                    <span class="text-red-500!">Vol geboekt</span>
                                                {% else %}
                                                    Beschikbaar
                                                {% endif %}
                                            </span>
                                        </div>
                                        <p class="text-sm text-gray-500 flex items-center mb-4">
                                            <svg class="w-4 h-4 mr-1 text-gray-400"
                                                 fill="none"
                                                 stroke="currentColor"
                                                 viewBox="0 0 24 24">
                                                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M17.657 16.657L13.414 20.9a1.998 1.998 0 01-2.827 0l-4.244-4.243a8 8 0 1111.314 0z">
                                                </path>
                                                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M15 11a3 3 0 11-6 0 3 3 0 016 0z"></path>
                                            </svg>
                                            aantal personen {{ huis.personen }}
                                        </p>
                                    </div>
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
        </main>
    </div>
{% endblock %}
