<nav class="bg-neutral-primary fixed w-full z-20 top-0 start-0">
  <div class="max-w-screen-xl flex flex-wrap items-center justify-between mx-auto p-4">
    <a href="/" class="flex items-center space-x-3 rtl:space-x-reverse">
      <!-- NOTE: logo SVG  -->
      <svg xmlns="http://www.w3.org/2000/svg" width="69" height="68" viewBox="0 0 69 68" fill="none">
        <path
          d="M34.5 0L35.0834 15.7231C35.4403 25.3424 43.1679 33.0569 52.7987 33.4085L69 34L52.7987 34.5915C43.1679 34.9431 35.4403 42.6576 35.0834 52.2769L34.5 68L33.9166 52.2769C33.5597 42.6576 25.8321 34.9431 16.2013 34.5915L0 34L16.2013 33.4085C25.8321 33.0569 33.5597 25.3424 33.9166 15.7231L34.5 0Z"
          fill="#FF7A00" />
        <path
          d="M51.52 4.55511L44.1545 18.4631C39.6482 26.9719 42.4787 37.5121 50.6432 42.6264L64.3779 51.2297L50.0511 43.6508C41.5345 39.1455 30.9805 41.9673 25.8561 50.1196L17.48 63.4448L24.8455 49.5369C29.3518 41.028 26.5213 30.4878 18.3568 25.3736L4.62212 16.7702L18.9489 24.3491C27.4655 28.8544 38.0195 26.0327 43.1439 17.8803L51.52 4.55511Z"
          fill="#FF7A00" />
        <path
          d="M63.9795 17L50.6386 25.3662C42.4767 30.4846 39.6516 41.0263 44.1622 49.5328L51.75 63.8428L43.1365 50.1243C38.0163 41.9693 27.4637 39.1422 18.9448 43.6431L5.02049 51L18.3614 42.6338C26.5233 37.5154 29.3484 26.9737 24.8378 18.4672L17.25 4.15723L25.8635 17.8757C30.9837 26.0307 41.5363 28.8578 50.0552 24.3569L63.9795 17Z"
          fill="#FF7A00" />
      </svg>
      <span class="self-center text-xl text-heading font-semibold whitespace-nowrap">Zee en Duin</span>
    </a>
    <div class="flex items-center md:order-2 space-x-1 md:space-x-0 rtl:space-x-reverse">
      <button data-collapse-toggle="navbar-language" type="button"
        class="inline-flex items-center p-2 w-10 h-10 justify-center text-sm text-body rounded-base md:hidden hover:bg-neutral-secondary-soft hover:text-heading focus:outline-none focus:ring-2 focus:ring-neutral-tertiary"
        aria-controls="navbar-language" aria-expanded="false">
        <span class="sr-only">Open main menu</span>
        <svg class="w-6 h-6" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none"
          viewBox="0 0 24 24">
          <path stroke="currentColor" stroke-linecap="round" stroke-width="2" d="M5 7h14M5 12h14M5 17h14" />
        </svg>
      </button>
    </div>
    <div class="items-center justify-between hidden w-full md:flex md:w-auto md:order-1" id="navbar-language">
      <ul
        class="font-medium flex flex-col p-4 md:p-0 mt-4 border border-default rounded-base bg-neutral-secondary-soft md:flex-row md:space-x-8 rtl:space-x-reverse md:mt-0 md:border-0 md:bg-neutral-primary">
        <li>
          <a href="#" class="block py-2 px-3 bg-brand rounded md:bg-transparent md:text-fg-brand md:p-0">Home</a>
        </li>
        <li>
          <a href="#"
            class="block py-2 px-3 text-heading rounded hover:bg-neutral-tertiary md:hover:bg-transparent md:border-0 md:hover:text-fg-brand md:p-0 md:dark:hover:bg-transparent">Services</a>
        </li>
        <li>
          <a href="#"
            class="block py-2 px-3 text-heading rounded hover:bg-neutral-tertiary md:hover:bg-transparent md:border-0 md:hover:text-fg-brand md:p-0 md:dark:hover:bg-transparent">Boek
            nu</a>
        </li>
        <li>
          <a href="#"
            class="block py-2 px-3 text-heading rounded hover:bg-neutral-tertiary md:hover:bg-transparent md:border-0 md:hover:text-fg-brand md:p-0 md:dark:hover:bg-transparent">Contact</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
