{% extends 'base.html'%}
{%block content%}

<!-- these lines are in the body tag -->
<section class='header min-h-[300px] lg:min-h-150 flex bg-lichtGeel flex-col md:flex-row gap-5'>
  <div class="left md:w-1/2 lg:w-2/3 flex gap-16.25  p-12 justify-center flex-col">
    <div class="title-box flex flex-col gap-5">
      <p>
        Beste van de buurt
      </p>
      <h1>Bungalowpark
        Zee en Duin</h1>
    </div>
    <p class="w-2/3">Huur een prachtige bungalow op ons Bungalowpark Zee en Duin. We hebben bungalows voor 4,6 en 8 personen. 
Boek nu voor een heerlijk weekje bij de de zee en duinen</p>
    <div class="flex gap-5">
      <button class="button font-bold">
        boek nu
      </button>
      <button class="button-stroke font-bold">
        Inloggen
</button>
       
      </div>
          <div class="USP flex items-center w-fit flex-col gap-5">
      
        <h2 class="">
          999 <span class="text-orange-400">+</span>
        </h2>
        <p class="">Blije klanten</p>
 

    </div>
  </div>
  <div class="right md:w-1/2 lg:w-1/3">
        <img class="h-full object-fill " src={{ url_for('static', filename='headerimg.png' ) }}>

  </div>
</section>

<section class="flex items-center justify-center py-5">
  <p class="text-[64px]">
    Beste Bungalowpark Van Nederland
  </p>
</section>
{%endblock%}
